<footer class="footer">

    <section class="container ">
            
        <div class="footer-content text-center">

            <div class="copyright ">
                <p>&copy; Copyright <strong>Otmane</strong>. All Rights Reserved</p>
            </div>

            
            <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/otmane_dev" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/otmane-ez-ziani/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/othye" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </section>
  
</footer>


