<header id="home" >
    <div class="introMessage ">
        
        <div class="text-center container text-align">
            
            <h1 class="hello ">Hello! I'm Otmane</h1>
            <h2 class="who">I'm developper Front-end / Back-end</h2>

        </div>

        <!--<div class='icon-scroll' ><div/>-->
        <section id="scroll-header" class="scrolling">
            <a href="#about"><span></span><span></span><span></span></a>
        </section>
        
    </div>
</header>