//colors
$white: #fff;
$black: rgba(0,0,0,.09);
$color_violet_red_approx: #f0437e;
$black_5: rgba(0,0,0,.05);
$color_black_haze_approx: #f7f7f7;
$color_cararra_approx: #ebebeb;
$color_shady_lady_approx: #a6a6a6;
$color_cod_gray_approx: #1a1919;

//fonts
$font_0: FontAwesome;
$font_1: serif;
$font_2: Acme;
$font_3: sans-serif;