//colors
$white: #fff;
$transWhite: rgba(255, 255, 255, 0);
$white_80: rgba(255, 255, 255, 0.8);
$haze: #f7f7f7;
$cararra: #ebebeb;


$black: #000000;

$black_9: rgba(0,0,0,.09);
$black_70: rgba(0, 0, 0, 0.7);
$black_5: rgba(0,0,0,.05);

$grey: #1a1919;
$grey1: #333;
$shady: #a6a6a6;

$violet: #f0437e;
$color_mandy_approx: #ed4e6e;

$green: #06d85f;



//fonts
    //nav
$font_0: FontAwesome;
$font_1: serif;
$font_2: Acme;
$font_3: sans-serif;

    // header
$font_4: Courgette;
$font_5: cursive;
