{% extends 'base.html.twig' %}



{% block content %}

    <section class="content">

        {% include "partials/header.html.twig" %}

        {% include "partials/about.html.twig" %}

        {% include "partials/portfolio.html.twig" %}

        {% include "partials/contact.html.twig" %}

        {% include "partials/footer.html.twig" %}


    </section>
    
    <a href="#home" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
