{% extends 'base.html.twig' %}



{% block content %}

    <section class="content">

        {% include "partials/header.html.twig" %}

        {% include "partials/about.html.twig" %}



    </section>


{% endblock %}
