<!DOCTYPE html>
<html lang="en">
<head>
    {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Carte des Bornes de Recharge pour Véhicules Électriques ">
        <meta name="author" content="Stacy-Otmane-Maxime-Arnaud">
        <link rel="icon" href="assets/img/logo.png" type="image/png" sizes="16x16"> 
    {% endblock %}
    
    <title>{% block title %}Otmane Portfolio!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}

</head>
<body>
        {% include "partials/navbar.html.twig" %}
        
        {% block content %} {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
