//about me 

.about-me {
	padding: 100px 0;
	word-spacing: 6px;
}
.about-h {
	font-weight: bold;
}

.about-p {
	padding: 20px 0;
	font-weight: 3px;
	
	.about-text{
		text-align: center;
	}
}


.dev-intro {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


 // Skills
.grid {
	padding: 20px 20px 50px 20px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	li {
		display: inline-block;
		width: 300px;
		margin: 0;
		padding: 20px;
		text-align: left;
		position: relative;
	}
}

figure.mySkills {
	color: $white;
	position: relative;
	float: left;
	overflow: hidden;
	max-width: 250px;
	width: 100%;
	max-height: 250px;
	background: #000000;
	text-align: center;
	border-radius:150px;
	
	img {
		opacity: 1;
		width: 100%;
		height: auto;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;

		
	}
	figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&::before {
			position: absolute;
			top: 50%;
			right: 30px;
			bottom: 50%;
			left: 30px;
			border-top: 1.5px solid $white_80;
			border-bottom: 1.5px solid $white_80;
			content: '';
			opacity: 0;
			background-color: $white;
			-webkit-transition: all 0.4s;
			transition: all 0.4s;
			-webkit-transition-delay: 0.6s;
			transition-delay: 0.6s;
		}
	}
	h2{
		margin-top: 90px;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
		//word-spacing: -0.15em;
		font-weight: 300;
		text-transform: uppercase;
		-webkit-transform: translate3d(0%, 50%, 0);
		transform: translate3d(0%, 50%, 0);
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
		font-size: 25px;
	}
	p{
		margin: 0 0 5px;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
		font-weight: 200;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	
	a {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		color: $white;
	}
	&:hover {
		img {
			opacity: 0.35;
		}
		figcaption {
			h2 {
				opacity: 1;
				-webkit-transform: translate3d(0%, 0%, 0);
				transform: translate3d(0%, 0%, 0);
				-webkit-transition-delay: 0.3s;
				transition-delay: 0.3s;
			}
			p{
				opacity: 0.9;
				-webkit-transition-delay: 0.6s;
				transition-delay: 0.6s;
			}
			&::before {
				background: $transWhite;
				top: 30px;
				bottom: 30px;
				opacity: 1;
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
			}
		}
	}
}


//POPUP
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $black_70;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	&:target {
		visibility: visible;
		opacity: 1;
		overflow: auto;
		 max-width: 100vw;
	}
}
.popup {
	margin: 70px auto;
	padding: 20px;
	background: $white;
	border-radius: 5px;
	width: 60%;
	height: 90%;
	position: relative;
	
	transition: all 5s ease-in-out;
	h2 {
		margin-top: 0;
		color: $grey1;
	}
	
	.close {
		position: absolute;
		top: 20px;
		right: 30px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: $grey1;
		&:hover {
			color: $red;
		}
	}
	.contents {
		max-height: 90%;
		overflow: auto;
	}
}


//media 
@media screen and (max-width: 992px) {

	.about-h {
		font-size: 6vw;
	}
	
	.about-p {
		padding: 20px 0;
		font-weight: 3px;
		font-size: 4vw;
		.about-text{
			text-align: left;
			font-size: 3vw;
		}
	}

	.grid {
		li {
			width: 200px;
		}
	}
	
	figure.mySkills {
		max-width: 150px;
		width: 100%;
		max-height: 150px;
	
		h2{
			margin-top: 45px;
			font-weight: 150;
			font-size: 15px;
		}
	}

	.popup {
		width: 100%;
		height: 90%;
	}
	.contents {
		max-height: 95%;
	}

	.intro-skill {
		margin: 10px;
	}
	
	.about-skills {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		img{
			height: 70px;
		}

		h4{
			font-size: 25px;
		}

		p{
			font-size: 15px;
		}
	}
	table{
		thead{
			font-size: 25px;
		}
		tbody{
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 600px) {
	.about-skills {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		img{
			height: 50px;
		}

		h4{
			font-size: 15px;
		}

		p{
			font-size: 10px;
		}
	}
	
	table{
		thead{
			font-size: 15px;
		}
		tbody{
			font-size: 10px;
		}
	}
}


/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
#LineTime{
	margin-top: 50px;
}

.timeline {
	line-height: 1.4em;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;

	h3 {
		line-height: inherit;
		font-size: 20px;
		margin-top: 0px;
	}
	p{
		padding-bottom: 30px;
		font-size: 15px;
		color: $grey1;
	}
}
	
	/*----- TIMELINE ITEM -----*/
.timeline-item {
	padding-left: 40px;
	position: relative;
}
.timeline-item:last-child {
	padding-bottom: 0;
}
	
	/*----- TIMELINE INFO -----*/
.timeline-info {
	font-size: 12px;
	font-weight: 350;
	letter-spacing: 3px;
	margin: 0 0 .5em 0;
	text-transform: uppercase;
	white-space: nowrap;
	color: #768390;
}
	
/*----- TIMELINE MARKER -----*/

.timeline-marker {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15px;
}
.timeline-marker:before {
	background: #4AA6C7;
	border: 3px solid transparent;
	border-radius: 100%;
	content: "";
	display: block;
	height: 15px;
	position: absolute;
	top: 4px;
	left: 0;
	width: 15px;
	transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
	content: "";
	width: 3px;
	background: #CCD5DB;
	display: block;
	position: absolute;
	top: 24px;
	bottom: 0;
	left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
	content: none;
}
  
.timeline-item:not(.period):hover .timeline-marker:before {
	background: transparent;
	border: 3px solid #4AA6C7;
}
  
/*----- TIMELINE CONTENT -----*/
.timeline-content {
	padding-bottom: 40px;
}
.timeline-content p:last-child {
	margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
	padding: 0;
}
.period .timeline-info {
	display: none;
}
.period .timeline-marker:before {
	background: transparent;
	content: "";
	width: 15px;
	height: auto;
	border: none;
	border-radius: 0;
	top: 0;
	bottom: 30px;
	position: absolute;
	border-top: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
	content: "";
	height: 32px;
	top: auto;
}
.period .timeline-content {
	padding: 40px 0 70px;
}
.period .timeline-title {
	margin: 0;
}
  
  /*----------------------------------------------
		  MOD: TIMELINE CENTERED
	  ----------------------------------------------*/
@media (min-width: 992px) {
	.timeline-centered, .timeline-centered .timeline-item, .timeline-centered .timeline-info, .timeline-centered .timeline-marker, .timeline-centered .timeline-content {
	  	display: block;
	  	margin: 0;
	  	padding: 0;
	}
	.timeline-centered .timeline-item {
	  	padding-bottom: 40px;
	  	overflow: hidden;
	}
	.timeline-centered .timeline-marker {
	  	//position: absolute;
	  	left: 50%;
	  	margin-left: -7.5px;
	}
	.timeline-centered .timeline-info,
	.timeline-centered .timeline-content {
	  	width: 50%;
	}
	.timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
	  	float: left;
	  	text-align: right;
	  	padding-right: 30px;
	}
	.timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
	  	float: right;
	  	text-align: left;
	  	padding-left: 30px;
	}
	.timeline-centered > .timeline-item:nth-child(even) .timeline-info {
	  	float: right;
	  	text-align: left;
	  	padding-left: 30px;
	}
	.timeline-centered > .timeline-item:nth-child(even) .timeline-content {
	  	float: left;
	  	text-align: right;
	  	padding-right: 30px;
	}
	.timeline-centered > .timeline-item.period .timeline-content {
	  	float: none;
	  	padding: 0;
	  	width: 100%;
	  	text-align: center;
	}
	.timeline-centered .timeline-item.period {
	  padding: 50px 0 90px;
	}
	.timeline-centered .period .timeline-marker:after {
	  	height: 30px;
	  	bottom: 0;
	  	top: auto;
	}
	.timeline-centered .period .timeline-title {
	  	left: auto;
	}
}
  
