
//@extend-elements
//original selectors
//.menu-mobile .menu-icon, .menu-mobile .menu-close-icon
%extend_1 {
	width: 44px;
	height: 44px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
}


nav {
	font-family: $font_2, $font_3;
	overflow: none;
}
img {
	vertical-align: baseline;
}
.flex {
	display: flex;
}
.oLogo {
	transition: all .5s;
}
.o-title {
	margin: 0;
	text-align: center;
}
.navBar {
	transition: all .5s;
	.o-title a {
		display: block;
	}
}
.menu-mobile {
	.menu-icon {
		@extend %extend_1;
	}
	.menu-close-icon {
		@extend %extend_1;
	}
	&.close {
		.menu-icon {
			visibility: hidden;
			opacity: 0;
		}
		.menu-close-icon {
			visibility: visible;
			opacity: 1;
		}
	}
	img {
		display: block;
		margin: 0 auto;
	}
}
.menu-close-icon {
	visibility: hidden;
	opacity: 0;
}
.menu-toggle {
	transition: 0.70s;
	display: block;
	margin-right: auto;
	margin-left: auto;
	&:hover {
		transition: 0.70s;
		transform: rotate(180deg);
	}
}
.main-menu {
	padding: 15px 30px;
	margin: 0;
	li {
		display: block;
		padding: 12px 0;
		font-size: 30px;
		font-weight: 500;
		border-bottom: 1px solid $cararra;
		&:nth-last-of-type(1) {
			border-bottom: 0;
		}
		a {
			display: block;
			color: $shady;
			text-decoration: none;
			transition: all 0.35s;
			&:hover {
				color: $grey;
			}
		}
		&.current-menu-item a {
			color: $grey;
		}
	}
}
.nav-bar-sep {
	height: 78px;
}
@media screen and(max-width: 992px) {
	.outer-container {
		padding-left: 80px;
	}
	.oHeader {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;
		padding: 15px 30px;
		background: $white;
		box-shadow: 0 12px 24px $black_5;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.menu-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
		.menu-icon {
			position: absolute;
			top: 26px;
			right: 24px;
		}
		.menu-close-icon {
			position: absolute;
			top: 26px;
			right: 24px;
		}
	}
	.main-menu {
		li {
			position: relative;
			&:hover::after {
				color: $violet;
			}
			&.current-menu-item::after {
				color: $violet;
			}
		}
		li::after {
			content: '';
			position: absolute;
			top: 11px;
			right: 0;
			font-family: $font_0, $font_1;
		}
	}
	.navBar {
		position: absolute;
		top: 78px;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 500px;
		background: $white;
		box-shadow: 0 12px 24px $black_5;
		visibility: hidden;
		opacity: 0;
		transition: all 0.35s;
		&.show {
			position: fixed;
			visibility: visible;
			opacity: 1;
		}
	}
	.social ul {
		padding: 80px 15px 30px;
		margin: 0;
	}
}
@media screen and(min-width: 992px) {
	.oHeader {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 60px;
		height: 100vh;
		padding: 0;
		box-shadow: 6px 0 12px $black_5;
		background: $white;
		opacity: 0.9;
		&.no-shadow {
			box-shadow: none;
		}
		.oLogo.hide {
			visibility: hidden;
			opacity: 0;
		}
	}
	.navBar {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 60px;
		height: 100vh;
		padding: 0;
		box-shadow: 6px 0 12px $black_5;
		background: $haze;
		opacity: 0.9;
		left: -250px;
		z-index: 99;
		width: 250px;
		padding: 0;
		box-shadow: 16px 0 42px $black_70;
		&.show {
			left: 60px;
		}
	}
	.o-title {
		padding: 28px 0 10px;
	}
	.menu-mobile {
		.menu-icon {
			position: absolute;
			top: calc(50vh - 22px);
			left: 15px;
			width: calc(100% - 20px);
			padding: 10px 0;
		}
		.menu-close-icon {
			position: absolute;
			top: calc(50vh - 22px);
			left: 15px;
			width: calc(100% - 30px);
			padding: 10px 0;
		}
	}
	.main-menu {
		height: calc(100vh - 160px);
		padding: 0;
		li {
			border-bottom: 0;
			text-align: center;
		}
	}
	.social ul li {
		font-size: 1.125rem;
	}
}
.social ul {
	padding: 10px 0 34px;
	margin: 0;
	li {
		display: block;
		padding: 0 18px;
		font-size: 1.5rem;
		a {
			color: $grey;
			transition: all 0.35s;
			&:hover {
				color: $violet;
			}
		}
	}
}


.social {
	font-size: 20px;

	a {
		color: #666;
		text-decoration: none;
		transition: all 0.3s;
	}
	i{
		padding: 0 15px 30px 0;
	}
}

.social a:hover,
.social a:focus {
	color: #111;
	text-shadow: 0px 0px 3px #111;
}